.footer-section {
  height: 300px;
  background-color: #0d2a33;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fooot {
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.4em;
  border-top: 1px solid white;
}
/*
.foot-container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.helpful-links {
  display: inline-block;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-color: #0d2a33;
}
*/
/*.helpful-links div {
  padding-top: 10px;
  font-size: 20px;
}

/*.pdf-download {

}

.pdf-download img {
  width: 60%;
  height: 60%;
}

.hleft {
  padding-bottom: 50px;
}*/
.fooot a:link {
   text-decoration: none;
   color: white;
}

.fooot a:visited {
   text-decoration: none;
   color: white;
}

.fooot a:hover {
   text-decoration: none;
   color: #ec2660;
}

.fooot a:active {
   text-decoration: none;
   color: white;
}
