.footer-section {
  position: relative;
  height: 300px;
  width: 100%
}

.foot-container {
  width: 100%;
  margin: 0 auto;
}

.helpful-links {
  text-align: center;
  border: solid 2px #4296f6;
  width: 300px;
  height: 300px;
  display: inline-block;
}

/*.helpful-links div {
  padding-top: 10px;
  font-size: 20px;
}*/

.pdf-download {
}

.pdf-download img {
  width: 60%;
  height: 60%;
}
