// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white_wat: #f6f7ff;
$dark_blue_wat: #0d2a33;
$splash_wat: #ec2660;
$primary_wat: #4296f6;
$primary_dark_wat: #1881f3;

.container {

}

.spalsh_image_container {
	width: 100%;
	height: 750px;
	background-image: url("/assets/background.jpeg");
	background-size: cover;
}

.center {
	margin: 0 auto;
}

.title {
	padding-top: 100px;
	margin: 0 auto; 
	text-align: center;
}

.title h1 {
	font-size: 5.0em;
  color: white;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}

.phrase {
	display: inline-block;
}

.phrase-input {
	display: inline-block;
}

.phrase-input span {
	outline: none;
	background: none;
	font-size: 5.0em;
	margin-top: 53.6px;
	margin-bottom: 53.6px;
	padding-left: 15px;
	color: $splash_wat;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}

.form_container {
	text-align: center;
	margin: 0 auto;
}

.form_container input {
	background: white;
	opacity: 0.5;
	border: none;
	font-size: 1.2em;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form_container button {
	margin-top: 50px;
	background-color: $primary_dark_wat;
	border: none;
	border-radius: 10px;
	font-size: 1.2em;
	color: white;
	height: 40px;
	width: 190px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.divider {
	height: 300px;
	background-color: white;

}

.report_container_shadow1 {
	background-color: #07171c;
	width: 93%;
	height: 13px;
	// border-top-left-radius: 15px; 
	// border-top-right-radius: 15px;
	opacity: 0.5; 
	margin: 0 auto;
	// border-top: 1px;
	// border-right: 0px;
	// border-left: 0px;
	// border-bottom: 0px;
	// border-style: solid;
	// border-color: $splash_wat;
	box-shadow: 0 -14px -28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.report_container_shadow2 {
	background-color: #091d23;
	width: 97%;
	height: 15px;
	opacity: 0.7;
	// border-top: 3px;
	// border-right: 0px;
	// border-left: 0px;
	// border-bottom: 0px;
	// border-style: solid;
	// border-color: $splash_wat;
	// border-top-left-radius: 15px; 
	// border-top-right-radius: 15px; 
	box-shadow: 0 -14px -28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin: 0 auto;

}


.report_container {
	background-color: $dark_blue_wat;
	height: 100px;
	border-top: 3px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: $splash_wat;
	// border-top-left-radius: 20px; 
	// border-top-right-radius: 20px;
	box-shadow: 0 -14px -28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.report_icon_background {
	background-color: $primary_wat;
	border: 2px;
	border-style: solid;
	border-color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	top: 1095px;
	left: 48%; 
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.report_icon {
	width: 50px;
	height: 50px;
	background-image: url("/assets/small_icon.png");
	background-size: cover;
	padding-top: 10px;
	padding-right: 10px;
	margin: 0 auto;
}


.the_watch_list_title {
	text-align: center;
	color: white;
	padding-top: 8%;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}
.the_watch_list_title h1 {
	font-size: 2.5em;
}

.segment_map {
	padding-top: 10%;
	width: 100%;
	background-color: $dark_blue_wat;
}
.map_container {
	width: 80%;
	margin: 0 auto;
	background-color: $dark_blue_wat;
}

#map {
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.graph-container {
	height: 50px;
	color: white;
}

.segment_below_graph {
	height: 500;
	background-color: red;
}

.metweet {
	background-image: url("/assets/tweet.png");
	width: 64px;
	height: 64px;
	background-size: cover;
	position:fixed;
	top: -23px;
	left: -23px;
}

.popup h3 {
	text-align: center;
}

#report_button {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 11s;
}

.splash_container {
	text-align: center;
}

.item {
	display: inline-block;
	padding: 30px;
	// padding-left: 50px;
	// padding-right: 50px; 
}

.arrow {
	width: 18px;
	height: 18px;
	background-image: url("/assets/right-arrow.png");
	background-repeat: no;
	background-size: cover;
	margin-bottom: 50px;
}

.item p {
	width: 180px; 
	word-wrap: break-word;
	text-align: left;
}

.tweet_splash {
	background-image: url("/assets/twitter_icon.png");
	width: 132px;
	height: 132px;
}

.ibm_splash {
	background-image: url("/assets/ibm_icon2.png");
	width: 132px;
	height: 132px;
}

.uni_splash {
	background-image: url("/assets/uc_icon.png");
	width: 122px;
	height: 132px;
	background-size: cover;
}

.theWatch_splash {
	background-image: url("/assets/icon_report_icon.png");
	width: 132px;
	height: 132px;
}



