// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white_wat: #f6f7ff;
$dark_blue_wat: #0d2a33;
$splash_wat: #ec2660;
$primary_wat: #4296f6;
$primary_dark_wat: #1881f3;

.container {

}

.spalsh_image_container {
	width: 100%;
	height: 700px;
	background-image: url("/assets/background.jpeg");
	background-size: cover;
}

.center {
	margin: 0 auto;
}

.title {
	padding-top: 100px;
	margin: 0 auto; 
	text-align: center;
}

.title h1 {
	font-size: 5.0em;
  color: white;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}

.phrase {
	display: inline-block;
}

.phrase-input {
	display: inline-block;
}

.phrase-input span {
	outline: none;
	background: none;
	font-size: 5.0em;
	margin-top: 53.6px;
	margin-bottom: 53.6px;
	padding-left: 15px;
	color: $splash_wat;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}