<div class="container">
	<div class="spalsh_image_container">
			<div class="center">
				<div class="title">
					<div class="phrase">
						<h1>
							Prevent 
						</h1>
					</div>
					<div class="phrase-input">
						<span contenteditable="true" class="phase_input">Suicide</span>
					</div>
				</div>
				<div class="form_container">
					<form class="query-form hidden">
						<input type="text" name="query">
						<br>
						<button type="button">
							Get Report
						</button>
					</form>
				</div>
			</div>
	</div>
</div>r