<div class="container">
	<div class="spalsh_image_container">
			<div class="center">
				<form>
					<input type="text" name="query">
					<input type="submit" value="Get Report">
				</form>
			</div>
	</div>
</div>