<!DOCTYPE html>
<html>
  <head>
    <title>TheWatch</title>
    <%= csrf_meta_tags %>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  </head>

  <body>
    <div class="full_height_segment">
    	<div class="navigation_container">
    		<div class="icon_containter">
  	  		<div class="icon">
  	  		</div>
  	  		<div class="icon_text">
  	  			<p>The Watch</p>
  	  		</div>
    		</div>


    		<div class="right_container">
          <a href="https://payment.pay2.sandbox.poweredbyglobalcollect.com/checkout/1396-11fd1015f0404fec8f7e9b3eb0b5795a:00000013960000000208:73a2cdf041c84826b2b637977f306513">
            <p>donate</p>
          </a>
          <p>
            |
          </p>
    			<a href="#"><p>
    				sign up
    			</p></a>
    			<p>
    				|
    			</p>
    			<a href="#"<p>
    				profile
    			</p></a>
    		</div>
    	</div>
      <div class="container">
        <div class="spalsh_image_container">
          <div class="center">
            <div class="title">
              <div class="phrase">
                <h1>
                  Prevent
                </h1>
              </div>
              <script>
                $(function(){
                  $(".phase_input").typed({
                    strings: ["Violence", "Cyber Bullying", "Domestic Abuse", "Suicide"],
                    typeSpeed: 10,
                    startDelay: 2000,
                  });
                });
              </script>
              <div class="phrase-input">
                <span contenteditable="true" class="phase_input"></span>
              </div>
            </div>
            <div class="form_container">
                <div id="report_button" class="animated swing">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                  <a><div class="g-report">
                    Get Report
                  </div></a>
                </div>

                <div class="description_container">
                  <h2 class="description">
                    Click “Get Report” to display and generate a report of at-risk individuals based on your current location
                  </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
