<!DOCTYPE html>
<html>
  <head>
    <title>TheWatch</title>
    <%= csrf_meta_tags %>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  </head>

  <body>
  	<div class="navigation_container">
  		<div class="icon_containter">
	  		<div class="icon">
	  		</div>
	  		<div class="icon_text">
	  			<p>The Watch</p>
	  		</div>
  		</div>

  		<div class="right_container">
  			<a href="#"><p>
  				sign up
  			</p></a>
  			<p>
  				|
  			</p>
  			<a href="#"<p>
  				profile
  			</p></a>
  		</div>
  	</div>
    <%= yield %>
  </body>
</html>
